In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("Employee-Attrition.csv")

In [3]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [5]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [6]:
clean_data = data[['Age', 'Attrition','Department','DistanceFromHome', 'Education', 'EducationField','EnvironmentSatisfaction', 'Gender','HourlyRate','JobInvolvement','JobRole', 'JobSatisfaction','MaritalStatus', 'MonthlyIncome','NumCompaniesWorked','OverTime','PercentSalaryHike','RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']]

In [7]:
clean_data.head(15)

,Age,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Sales,1,2,Life Sciences,2,Female,94,3,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Research & Development,8,1,Life Sciences,3,Male,61,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Research & Development,2,2,Other,4,Male,92,2,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Research & Development,3,4,Life Sciences,4,Female,56,3,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Research & Development,2,1,Medical,1,Male,40,3,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Research & Development,2,2,Life Sciences,4,Male,79,3,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Research & Development,3,3,Medical,3,Female,81,4,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Research & Development,24,1,Life Sciences,4,Male,67,3,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Research & Development,23,3,Life Sciences,4,Male,44,2,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Research & Development,27,3,Medical,3,Male,94,3,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Research & Development,16,3,Medical,1,Male,84,4,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Research & Development,15,2,Life Sciences,4,Female,49,2,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Research & Development,26,1,Life Sciences,1,Male,31,3,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Research & Development,19,2,Medical,2,Male,93,3,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Research & Development,24,3,Life Sciences,3,Male,50,2,...,2,80,0,6,4,3,4,2,0,3

In [8]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [9]:
clean_data["Attrition"]= clean_data["Attrition"].astype(str)

In [10]:
clean_data.Attrition = clean_data.Attrition.apply(str)

In [11]:
clean_data.dtypes

Age                          int64
Attrition                   object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [39]:
genders = clean_data.Gender.value_counts()
genders
print(grouped)

Age  Attrition  DistanceFromHome  Education  \
Department             Gender
Human Resources        Female    6          6                 6          6
                       Male      6          6                 6          6
Research & Development Female   43         43                43         43
                       Male     90         90                90         90
Sales                  Female   38         38                38         38
                       Male     54         54                54         54

                               EducationField  EnvironmentSatisfaction  \
Department             Gender
Human Resources        Female               6                        6
                       Male                 6                        6
Research & Development Female              43                       43
                       Male                90                       90
Sales                  Female              38                       38
                       Male                54                       54

                               HourlyRate  JobInvolvement  JobRole  \
Department             Gender
Human Resources        Female           6               6        6
                       Male             6               6        6
Research & Development Female          43              43       43
                       Male            90              90       90
Sales                  Female          38              38       38
                       Male            54              54       54

                               JobSatisfaction  ...  RelationshipSatisfaction  \
Department             Gender                   ...
Human Resources        Female                6  ...                         6
                       Male                  6  ...                         6
Research & Development Female               43  ...                        43
                       Male                 90  ...                        90
Sales                  Female               38  ...                        38
                       Male                 54  ...                        54

                               StandardHours  StockOptionLevel  \
Department             Gender
Human Resources        Female              6                 6
                       Male                6                 6
Research & Development Female             43                43
                       Male               90                90
Sales                  Female             38                38
                       Male               54                54

                               TotalWorkingYears  TrainingTimesLastYear  \
Department             Gender
Human Resources        Female                  6                      6
                       Male                    6                      6
Research & Development Female                 43                     43
                       Male                   90                     90
Sales                  Female                 38                     38
                       Male                   54                     54

                               WorkLifeBalance  YearsAtCompany  \
Department             Gender
Human Resources        Female                6               6
                       Male                  6               6
Research & Development Female               43              43
                       Male                 90              90
Sales                  Female               38              38
                       Male                 54              54

                               YearsInCurrentRole  YearsSinceLastPromotion  \
Department             Gender
Human Resources        Female                   6                        6
                       Male                     6                        6
Research & Development Female                  43                       43
                       Male                    90                       90
Sales                  Female                  38                       38
                       Male                    54                       54

                               YearsWithCurrManager
Department             Gender
Human Resources        Female                     6
                       Male                       6
Research & Development Female                    43
                       Male                      90
Sales                  Female                    38
                       Male                      54

[6 rows x 25 columns]

In [47]:
grouped = clean_data[clean_data.Attrition == "Yes"].groupby(["Department","Gender"]).count()
grouped.head(10)

                               Age  Attrition  DistanceFromHome  Education  \
Department             Gender
Human Resources        Female    6          6                 6          6
                       Male      6          6                 6          6
Research & Development Female   43         43                43         43
                       Male     90         90                90         90
Sales                  Female   38         38                38         38
                       Male     54         54                54         54

                               EducationField  EnvironmentSatisfaction  \
Department             Gender
Human Resources        Female               6                        6
                       Male                 6                        6
Research & Development Female              43                       43
                       Male                90                       90
Sales                  Female              38                       38
                       Male                54                       54

                               HourlyRate  JobInvolvement  JobRole  \
Department             Gender
Human Resources        Female           6               6        6
                       Male             6               6        6
Research & Development Female          43              43       43
                       Male            90              90       90
Sales                  Female          38              38       38
                       Male            54              54       54

                               JobSatisfaction  ...  RelationshipSatisfaction  \
Department             Gender                   ...
Human Resources        Female                6  ...                         6
                       Male                  6  ...                         6
Research & Development Female               43  ...                        43
                       Male                 90  ...                        90
Sales                  Female               38  ...                        38
                       Male                 54  ...                        54

                               StandardHours  StockOptionLevel  \
Department             Gender
Human Resources        Female              6                 6
                       Male                6                 6
Research & Development Female             43                43
                       Male               90                90
Sales                  Female             38                38
                       Male               54                54

                               TotalWorkingYears  TrainingTimesLastYear  \
Department             Gender
Human Resources        Female                  6                      6
                       Male                    6                      6
Research & Development Female                 43                     43
                       Male                   90                     90
Sales                  Female                 38                     38
                       Male                   54                     54

                               WorkLifeBalance  YearsAtCompany  \
Department             Gender
Human Resources        Female                6               6
                       Male                  6               6
Research & Development Female               43              43
                       Male                 90              90
Sales                  Female               38              38
                       Male                 54              54

                               YearsInCurrentRole  YearsSinceLastPromotion  \
Department             Gender
Human Resources        Female                   6                        6
                       Male                     6                        6
Research & Development Female                  43                       43
                       Male                    90                       90
Sales                  Female                  38                       38
                       Male                    54                       54

                               YearsWithCurrManager
Department             Gender
Human Resources        Female                     6
                       Male                       6
Research & Development Female                    43
                       Male                      90
Sales                  Female                    38
                       Male                      54

[6 rows x 25 columns]