In [1]:
# Import modules
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [2]:
# Read csv file and display sample data
employee = pd.read_csv('Employee-Attrition.csv')
employee.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Remove uncecessary columns and code binary ones Yes = 1 | No = 0
employee["Attrition"] = employee["Attrition"].eq('Yes').mul(1)
employee["OverTime"] = employee["OverTime"].eq('Yes').mul(1)
employee["Gender"] = employee["Gender"].eq('Female').mul(1)
# Remove unwanted columns
employee = employee.drop(["Over18","StandardHours"], axis = 1)
employee.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [4]:
# change columns to numbers in order to analyze the data
import numpy as np
# Select those categorical columns to map themo to dummy values
encoder = employee[["BusinessTravel", "Department","EducationField","JobRole","MaritalStatus"]]
dum_employee = pd.get_dummies(encoder, prefix="DUM")
# join with original data
employee = employee.join(dum_employee,lsuffix="EMP")

In [5]:
print(employee.head())
# Remove categorical columns. We already have them with dummy values
employee = employee.drop(["BusinessTravel","Department","EducationField","JobRole","MaritalStatus"], axis = 1)
print(employee.head())
print(employee.columns)

Age  Attrition     BusinessTravel  DailyRate              Department  \
0   41          1      Travel_Rarely       1102                   Sales
1   49          0  Travel_Frequently        279  Research & Development
2   37          1      Travel_Rarely       1373  Research & Development
3   33          0  Travel_Frequently       1392  Research & Development
4   27          0      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  DUM_Laboratory Technician  DUM_Manager  DUM_Manufacturing Director  \
0  ...                          0            0                           0
1  ...                          0            0                           0
2  ...                          1            0                           0
3  ...                          0            0                           0
4  ...                          1            0                           0

   DUM_Research Director  DUM_Research Scientist DUM_Sales Executive  \
0                      0                       0                   1
1                      0                       1                   0
2                      0                       0                   0
3                      0                       1                   0
4                      0                       0                   0

   DUM_Sales Representative DUM_Divorced  DUM_Married  DUM_Single
0                         0            0            0           1
1                         0            0            1           0
2                         0            0            0           1
3                         0            0            1           0
4                         0            0            1           0

[5 rows x 57 columns]
   Age  Attrition  DailyRate  DistanceFromHome  Education  EmployeeCount  \
0   41          1       1102                 1          2              1
1   49          0        279                 8          1              1
2   37          1       1373                 2          2              1
3   33          0       1392                 3          4              1
4   27          0        591                 2          1              1

   EmployeeNumber  EnvironmentSatisfaction  Gender  HourlyRate  ...  \
0               1                        2       1          94  ...
1               2                        3       0          61  ...
2               4                        4       0          92  ...
3               5                        4       1          56  ...
4               7                        1       0          40  ...

   DUM_Laboratory Technician  DUM_Manager  DUM_Manufacturing Director  \
0                          0            0                           0
1                          0            0                           0
2                          1            0                           0
3                          0            0                           0
4                          1            0                           0

   DUM_Research Director  DUM_Research Scientist  DUM_Sales Executive  \
0                      0                       0                    1
1                      0                       1                    0
2                      0                       0                    0
3                      0                       1                    0
4                      0                       0                    0

   DUM_Sales Representative  DUM_Divorced  DUM_Married  DUM_Single
0                         0             0            0           1
1                         0             0            1           0
2                         0             0            0           1
3                         0             0            1           0
4                         0             0            1           0

[5 rows x 52 columns]
Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'DUM_Non-Travel',
       'DUM_Travel_Frequently', 'DUM_Travel_Rarely', 'DUM_Human Resources',
       'DUM_Research & Development', 'DUM_Sales', 'DUM_Human Resources',
       'DUM_Life Sciences', 'DUM_Marketing', 'DUM_Medical', 'DUM_Other',
       'DUM_Technical Degree', 'DUM_Healthcare Representative',
       'DUM_Human Resources', 'DUM_Laboratory Technician', 'DUM_Manager',
       'DUM_Manufacturing Director', 'DUM_Research Director',
       'DUM_Research Scientist', 'DUM_Sales Executive',
       'DUM_Sales Representative', 'DUM_Divorced', 'DUM_Married',
       'DUM_Single'],
      dtype='object')

In [6]:
# Y -> outcome
target = employee["Attrition"]
target_names = ["Yes", "No"]

In [7]:
# x -> variables
# Get all columns except the one we want to predict
data = employee.drop(["Attrition"], axis=1)
feature_names = data.columns
print(feature_names)
data.head()

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'DUM_Non-Travel', 'DUM_Travel_Frequently',
       'DUM_Travel_Rarely', 'DUM_Human Resources',
       'DUM_Research & Development', 'DUM_Sales', 'DUM_Human Resources',
       'DUM_Life Sciences', 'DUM_Marketing', 'DUM_Medical', 'DUM_Other',
       'DUM_Technical Degree', 'DUM_Healthcare Representative',
       'DUM_Human Resources', 'DUM_Laboratory Technician', 'DUM_Manager',
       'DUM_Manufacturing Director', 'DUM_Research Director',
       'DUM_Research Scientist', 'DUM_Sales Executive',
       'DUM_Sales Representative', 'DUM_Divorced', 'DUM_Married',
       'DUM_Single'],
      dtype='object')

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,DUM_Laboratory Technician,DUM_Manager,DUM_Manufacturing Director,DUM_Research Director,DUM_Research Scientist,DUM_Sales Executive,DUM_Sales Representative,DUM_Divorced,DUM_Married,DUM_Single
0,41,1102,1,2,1,1,2,1,94,3,...,0,0,0,0,0,1,0,0,0,1
1,49,279,8,1,1,2,3,0,61,2,...,0,0,0,0,1,0,0,0,1,0
2,37,1373,2,2,1,4,4,0,92,2,...,1,0,0,0,0,0,0,0,0,1
3,33,1392,3,4,1,5,4,1,56,3,...,0,0,0,0,1,0,0,0,1,0
4,27,591,2,1,1,7,1,0,40,3,...,1,0,0,0,0,0,0,0,1,0

In [8]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split
# Split data into train and test
X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=10)

In [39]:
# Create, fit, and score a Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
# Generate forest models from 100 to 1,000 each with 100 increase in estimators
# i.e. model 1 = 100, model 2 = 200, model 3 = 300, etc
for i in range(100,1000,100):
    print("================================")
    rf = RandomForestClassifier(n_estimators=i)
    rf = rf.fit(X_train, y_train)
    # print scores for each model
    print(f"Estimators: {i}")
    print(f"Train score: {rf.score(X_train,y_train)}")
    print(f"Test score: {rf.score(X_test,y_test)}")
    importances = rf.feature_importances_
    weights = sorted (zip((importances*100),feature_names),reverse = True)
    for j in range(0,len(weights)):
        # Print variables greater than 1%
        if(weights[j][0] > 1):
            print(weights[j])

================================
Estimators: 100
Train score: 1.0
Test score: 0.8369565217391305
(6.695364077155948, 'MonthlyIncome')
(5.209064765675301, 'Age')
(5.0521755932374965, 'EmployeeNumber')
(4.88203302707683, 'TotalWorkingYears')
(4.76949834590873, 'MonthlyRate')
(4.566989790334479, 'DailyRate')
(4.4580559617666236, 'OverTime')
(4.430834233101158, 'DistanceFromHome')
(4.332657587983659, 'HourlyRate')
(4.019983776340581, 'YearsAtCompany')
(3.358243613187807, 'PercentSalaryHike')
(3.3053600683558595, 'NumCompaniesWorked')
(2.9160435379018077, 'EnvironmentSatisfaction')
(2.909593023808422, 'JobSatisfaction')
(2.6706035672928023, 'YearsWithCurrManager')
(2.633618747279435, 'StockOptionLevel')
(2.4025687334226875, 'RelationshipSatisfaction')
(2.3608973331374776, 'WorkLifeBalance')
(2.3374701905789537, 'TrainingTimesLastYear')
(2.3051752080081442, 'YearsSinceLastPromotion')
(2.286658508631765, 'YearsInCurrentRole')
(2.194951252635534, 'JobLevel')
(2.1605599267447975, 'JobInvolvement')
(1.7981451894264509, 'DUM_Single')
(1.7713736131704516, 'Education')
(1.328424066132654, 'DUM_Travel_Frequently')
================================
Estimators: 200
Train score: 1.0
Test score: 0.8369565217391305
(6.997400553426061, 'MonthlyIncome')
(5.673555964064567, 'Age')
(4.869751358681498, 'EmployeeNumber')
(4.813795444088918, 'DailyRate')
(4.680272077436262, 'MonthlyRate')
(4.660797629029389, 'OverTime')
(4.529918857880017, 'TotalWorkingYears')
(4.394173702960877, 'HourlyRate')
(4.3566898660920765, 'DistanceFromHome')
(4.132814263801855, 'YearsAtCompany')
(3.2113037923780743, 'PercentSalaryHike')
(3.091685107016471, 'NumCompaniesWorked')
(2.8666351704365667, 'EnvironmentSatisfaction')
(2.739437610711076, 'JobSatisfaction')
(2.7137226129539385, 'StockOptionLevel')
(2.5617932861200248, 'TrainingTimesLastYear')
(2.47955571405304, 'YearsInCurrentRole')
(2.47929154328213, 'YearsWithCurrManager')
(2.4433884007390074, 'WorkLifeBalance')
(2.197057081319791, 'YearsSinceLastPromotion')
(2.169179347290701, 'JobLevel')
(2.16327319651682, 'JobInvolvement')
(2.0929036124376452, 'RelationshipSatisfaction')
(1.8636586753736701, 'DUM_Single')
(1.7474641319514725, 'Education')
(1.3254208259903655, 'DUM_Travel_Frequently')
================================
Estimators: 300
Train score: 1.0
Test score: 0.8396739130434783
(7.02366495988755, 'MonthlyIncome')
(5.693661405629475, 'Age')
(4.836914108348133, 'DailyRate')
(4.793910117972427, 'EmployeeNumber')
(4.756614888517621, 'MonthlyRate')
(4.725628576727233, 'OverTime')
(4.620971278427357, 'HourlyRate')
(4.575076084113835, 'TotalWorkingYears')
(4.1936602274898656, 'DistanceFromHome')
(3.962290194688349, 'YearsAtCompany')
(3.538839484322686, 'PercentSalaryHike')
(2.9533902571521686, 'NumCompaniesWorked')
(2.785127185240002, 'YearsWithCurrManager')
(2.779925803357192, 'JobSatisfaction')
(2.69560212080018, 'EnvironmentSatisfaction')
(2.6561600173933266, 'StockOptionLevel')
(2.473868202425434, 'TrainingTimesLastYear')
(2.3654159852766856, 'WorkLifeBalance')
(2.3151829026630324, 'JobInvolvement')
(2.292926679565396, 'YearsSinceLastPromotion')
(2.1821480545206864, 'YearsInCurrentRole')
(2.156070971620303, 'RelationshipSatisfaction')
(1.9860451984886558, 'JobLevel')
(1.77779833773237, 'Education')
(1.683258121145449, 'DUM_Single')
(1.3010752092732674, 'DUM_Travel_Frequently')
================================
Estimators: 400
Train score: 1.0
Test score: 0.842391304347826
(6.6663411227756155, 'MonthlyIncome')
(5.22961495039926, 'Age')
(5.090025590782265, 'EmployeeNumber')
(4.78418006654547, 'DailyRate')
(4.688656655128775, 'OverTime')
(4.670473662637194, 'MonthlyRate')
(4.663276681703139, 'TotalWorkingYears')
(4.520621606758637, 'HourlyRate')
(4.320684498898203, 'DistanceFromHome')
(4.17113574811234, 'YearsAtCompany')
(3.278559933587911, 'PercentSalaryHike')
(3.0296543149477695, 'NumCompaniesWorked')
(2.8530080948023806, 'EnvironmentSatisfaction')
(2.852339607260393, 'JobSatisfaction')
(2.839156193873056, 'StockOptionLevel')
(2.692534711621453, 'YearsWithCurrManager')
(2.4573671254180813, 'TrainingTimesLastYear')
(2.4129044101948627, 'YearsInCurrentRole')
(2.2975915312807333, 'JobInvolvement')
(2.217244486962485, 'WorkLifeBalance')
(2.2161322385689863, 'RelationshipSatisfaction')
(2.1967654070456004, 'YearsSinceLastPromotion')
(1.9434527392103773, 'JobLevel')
(1.8198700995306873, 'Education')
(1.8046765244841632, 'DUM_Single')
(1.3093844133644443, 'DUM_Travel_Frequently')
================================
Estimators: 500
Train score: 1.0
Test score: 0.8396739130434783
(7.0076611152824775, 'MonthlyIncome')
(5.402178003490232, 'Age')
(4.900409560353839, 'DailyRate')
(4.8849518982788105, 'MonthlyRate')
(4.768288807195732, 'EmployeeNumber')
(4.626148498841999, 'TotalWorkingYears')
(4.444843587812771, 'OverTime')
(4.310765975534774, 'HourlyRate')
(4.265492485229739, 'DistanceFromHome')
(4.057443428297882, 'YearsAtCompany')
(3.353657140360626, 'PercentSalaryHike')
(3.0596098298849705, 'NumCompaniesWorked')
(2.927959765075596, 'StockOptionLevel')
(2.882784791241055, 'JobSatisfaction')
(2.7640022195795653, 'EnvironmentSatisfaction')
(2.668817131102286, 'YearsWithCurrManager')
(2.470403270049764, 'TrainingTimesLastYear')
(2.3974147728929425, 'YearsInCurrentRole')
(2.3589622219970483, 'JobInvolvement')
(2.311904517086769, 'RelationshipSatisfaction')
(2.282359140958349, 'WorkLifeBalance')
(2.274219517964199, 'YearsSinceLastPromotion')
(1.9603288552239786, 'JobLevel')
(1.8055447030606278, 'Education')
(1.7720737631233365, 'DUM_Single')
(1.299859210807084, 'DUM_Travel_Frequently')
================================
Estimators: 600
Train score: 1.0
Test score: 0.8396739130434783
(7.141151297885276, 'MonthlyIncome')
(5.530121655875538, 'Age')
(4.985129153423986, 'DailyRate')
(4.889237355019673, 'EmployeeNumber')
(4.771010949492425, 'MonthlyRate')
(4.676457208245944, 'TotalWorkingYears')
(4.53008114777755, 'OverTime')
(4.33570745461034, 'HourlyRate')
(4.309126711166048, 'DistanceFromHome')
(3.957211717658081, 'YearsAtCompany')
(3.292402581432801, 'PercentSalaryHike')
(3.1543453378290773, 'NumCompaniesWorked')
(2.887270050507738, 'StockOptionLevel')
(2.8426451319803747, 'JobSatisfaction')
(2.7157291565386243, 'EnvironmentSatisfaction')
(2.598149792146332, 'YearsWithCurrManager')
(2.5531255182486117, 'TrainingTimesLastYear')
(2.338683965310596, 'WorkLifeBalance')
(2.2973011786853204, 'YearsInCurrentRole')
(2.2669902136664892, 'YearsSinceLastPromotion')
(2.18763345970664, 'JobInvolvement')
(2.1458272123770725, 'RelationshipSatisfaction')
(1.9378481546136461, 'JobLevel')
(1.731941143233201, 'Education')
(1.7178911736315736, 'DUM_Single')
(1.2842616194739356, 'DUM_Travel_Frequently')
================================
Estimators: 700
Train score: 1.0
Test score: 0.8396739130434783
(6.982023937023725, 'MonthlyIncome')
(5.380840506851593, 'Age')
(4.8348130340345055, 'MonthlyRate')
(4.807520937665741, 'EmployeeNumber')
(4.788404702433009, 'DailyRate')
(4.693672294000727, 'TotalWorkingYears')
(4.625603071773884, 'HourlyRate')
(4.352127988410634, 'OverTime')
(4.343449602548193, 'DistanceFromHome')
(4.049252572652485, 'YearsAtCompany')
(3.3780644915566893, 'PercentSalaryHike')
(3.1490141776730542, 'NumCompaniesWorked')
(2.984785074248468, 'EnvironmentSatisfaction')
(2.828837941884227, 'JobSatisfaction')
(2.7859663841168394, 'StockOptionLevel')
(2.5501233781609702, 'YearsWithCurrManager')
(2.4488839477088913, 'YearsInCurrentRole')
(2.3964598047430807, 'TrainingTimesLastYear')
(2.333645401314596, 'JobInvolvement')
(2.295614816451234, 'WorkLifeBalance')
(2.1851532481071088, 'YearsSinceLastPromotion')
(2.171877122613156, 'RelationshipSatisfaction')
(1.9431033539084712, 'JobLevel')
(1.8236003822359181, 'DUM_Single')
(1.7484491244834928, 'Education')
(1.3010921441881773, 'DUM_Travel_Frequently')
================================
Estimators: 800
Train score: 1.0
Test score: 0.8396739130434783
(6.894842790910399, 'MonthlyIncome')
(5.420950730093021, 'Age')
(4.962486569509202, 'DailyRate')
(4.840385275718419, 'MonthlyRate')
(4.8343685735154605, 'EmployeeNumber')
(4.482386455085141, 'OverTime')
(4.466686637148373, 'TotalWorkingYears')
(4.424172864595353, 'HourlyRate')
(4.183743466852872, 'DistanceFromHome')
(4.070054173426552, 'YearsAtCompany')
(3.4405697525652, 'PercentSalaryHike')
(3.133903421835456, 'NumCompaniesWorked')
(2.924782518808299, 'JobSatisfaction')
(2.78769080798582, 'StockOptionLevel')
(2.777446227555914, 'EnvironmentSatisfaction')
(2.7350412937550685, 'YearsWithCurrManager')
(2.4279382624794, 'WorkLifeBalance')
(2.423821761127866, 'TrainingTimesLastYear')
(2.3861816092706998, 'YearsInCurrentRole')
(2.286393236146401, 'RelationshipSatisfaction')
(2.2733354684810356, 'YearsSinceLastPromotion')
(2.234087939669165, 'JobInvolvement')
(1.9088329524753793, 'JobLevel')
(1.810280762199266, 'Education')
(1.7117359542800623, 'DUM_Single')
(1.3576544479005086, 'DUM_Travel_Frequently')
================================
Estimators: 900
Train score: 1.0
Test score: 0.8396739130434783
(6.844016543937405, 'MonthlyIncome')
(5.4780897982067, 'Age')
(4.879144208705575, 'DailyRate')
(4.778512021503341, 'EmployeeNumber')
(4.708348281869072, 'MonthlyRate')
(4.553332887343245, 'TotalWorkingYears')
(4.491177458546222, 'OverTime')
(4.46752785967597, 'HourlyRate')
(4.255688748158745, 'DistanceFromHome')
(3.9042140829885357, 'YearsAtCompany')
(3.4611638301623886, 'PercentSalaryHike')
(3.0141548485437233, 'NumCompaniesWorked')
(2.9000932051385786, 'JobSatisfaction')
(2.896089696441927, 'EnvironmentSatisfaction')
(2.845445530107916, 'StockOptionLevel')
(2.776688336423704, 'YearsWithCurrManager')
(2.507593970124624, 'TrainingTimesLastYear')
(2.3834124176653946, 'YearsInCurrentRole')
(2.3629796783049457, 'JobInvolvement')
(2.322498265023064, 'WorkLifeBalance')
(2.284535029664061, 'RelationshipSatisfaction')
(2.241790069558273, 'YearsSinceLastPromotion')
(1.9448190365625486, 'JobLevel')
(1.7988329900026554, 'Education')
(1.7677002963813118, 'DUM_Single')
(1.3653010936499084, 'DUM_Travel_Frequently')

In [30]:
import math
importances = rf.feature_importances_
# sort features by importance (here, we have results for last model)
values = sorted (zip((importances*100),feature_names),reverse = True)

In [32]:
values[0][0]

6.8814280874652605