In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [2]:
employee = pd.read_excel("turnover.xlsx")

In [3]:
# change columns to number in order to analyze the data
import numpy as np
dum_employee = pd.get_dummies(employee, columns=["BusinessTravel", "Department","EducationField","Gender","JobRole","MaritalStatus","OverTime"], prefix=["Travel","Depto","EF","G","JR","MS","OT"])
employee = employee.join(dum_employee,lsuffix="EMP")

In [4]:
employee = employee.drop(["BusinessTravel","Department","EducationField","Gender","JobRole","MaritalStatus","OverTime"], axis = 1)

In [5]:
# Y -> outcome
target = employee["AttritionEMP"]
target_names = ["Yes", "No"]

In [6]:
# x -> variables
data = employee.drop(["AttritionEMP"], axis=1)
feature_names = data.columns
data.head()

,AgeEMP,DailyRateEMP,DistanceFromHomeEMP,EducationEMP,EmployeeCountEMP,EmployeeNumberEMP,EnvironmentSatisfactionEMP,HourlyRateEMP,JobInvolvementEMP,JobLevelEMP,...,JR_Manufacturing Director,JR_Research Director,JR_Research Scientist,JR_Sales Executive,JR_Sales Representative,MS_Divorced,MS_Married,MS_Single,OT_No,OT_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,1,0,0,0,1,0,1
1,49,279,8,1,1,2,3,61,2,2,...,0,0,1,0,0,0,1,0,1,0
2,37,1373,2,2,1,4,4,92,2,1,...,0,0,0,0,0,0,0,1,0,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,0,1,0,0,0,1,0,0,1
4,27,591,2,1,1,7,1,40,3,1,...,0,0,0,0,0,0,1,0,1,0

In [7]:
# Split the data using train_test_split

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=10)

In [8]:
# Create, fit, and score a Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators =100)

rf = rf.fit(X_train, y_train)
# #Score decision tree
print(f"Train score: {rf.score(X_train,y_train)}")
print(f"Test score: {rf.score(X_test,y_test)}")

Train score: 1.0
Test score: 1.0

In [9]:
importances = rf.feature_importances_
# sort features by importance

sorted (zip(importances,feature_names),reverse = True)

[(0.5536781060808309, 'Attrition'),
 (0.016168263429627457, 'AgeEMP'),
 (0.01588134493078235, 'MonthlyIncomeEMP'),
 (0.01563274843897671, 'MonthlyIncome'),
 (0.015341784052032483, 'OT_Yes'),
 (0.013643571525115108, 'TotalWorkingYearsEMP'),
 (0.01357769584469972, 'TotalWorkingYears'),
 (0.01254109179789171, 'DailyRate'),
 (0.012197068113152324, 'EmployeeNumberEMP'),
 (0.012054692175264363, 'DailyRateEMP'),
 (0.01194558028055029, 'Age'),
 (0.011285338567891412, 'MonthlyRate'),
 (0.011030953173574071, 'HourlyRateEMP'),
 (0.010994704163723421, 'YearsAtCompanyEMP'),
 (0.010133241174233767, 'HourlyRate'),
 (0.009876327386782473, 'EmployeeNumber'),
 (0.009596828498052863, 'OT_No'),
 (0.009470585004479282, 'MonthlyRateEMP'),
 (0.009247972359307863, 'StockOptionLevelEMP'),
 (0.009110828956657442, 'DistanceFromHome'),
 (0.008600455432568939, 'DistanceFromHomeEMP'),
 (0.008430442234595692, 'YearsAtCompany'),
 (0.008323234156869391, 'NumCompaniesWorked'),
 (0.008072560858444884, 'JobLevelEMP'),
 (0.007574107349541084, 'PercentSalaryHikeEMP'),
 (0.007309777870184465, 'PercentSalaryHike'),
 (0.007265944663751198, 'StockOptionLevel'),
 (0.00719393920516415, 'EnvironmentSatisfaction'),
 (0.006575622005513017, 'YearsWithCurrManager'),
 (0.006250700814524034, 'JobSatisfaction'),
 (0.006227659614734136, 'EnvironmentSatisfactionEMP'),
 (0.006202534485860533, 'WorkLifeBalanceEMP'),
 (0.006146787335272254, 'TrainingTimesLastYearEMP'),
 (0.006136538957296722, 'MS_Single'),
 (0.005923960682169275, 'NumCompaniesWorkedEMP'),
 (0.005792450619409587, 'JobInvolvementEMP'),
 (0.005738659551776544, 'YearsSinceLastPromotionEMP'),
 (0.005708681309277314, 'YearsWithCurrManagerEMP'),
 (0.005485243796895631, 'JobSatisfactionEMP'),
 (0.005140603481781989, 'RelationshipSatisfaction'),
 (0.004790553498336796, 'RelationshipSatisfactionEMP'),
 (0.004455053550197961, 'JobInvolvement'),
 (0.00442464542489281, 'WorkLifeBalance'),
 (0.00442287209649755, 'Education'),
 (0.00426832502771465, 'TrainingTimesLastYear'),
 (0.003994206897035003, 'JobLevel'),
 (0.003993188106067534, 'EducationEMP'),
 (0.003934875563861847, 'YearsSinceLastPromotion'),
 (0.0037608447182438153, 'Travel_Travel_Frequently'),
 (0.003645803029965461, 'YearsInCurrentRole'),
 (0.0035317554289462593, 'YearsInCurrentRoleEMP'),
 (0.0033426265730327233, 'EF_Marketing'),
 (0.002915217526302234, 'JR_Laboratory Technician'),
 (0.0026743041176539666, 'MS_Married'),
 (0.0023607082896917146, 'EF_Life Sciences'),
 (0.0023515459674705087, 'Depto_Sales'),
 (0.0022839481800330107, 'Travel_Travel_Rarely'),
 (0.002109095004067982, 'MS_Divorced'),
 (0.0021003203135273917, 'Depto_Research & Development'),
 (0.001763706838276832, 'JR_Sales Executive'),
 (0.0015847054389728757, 'EF_Medical'),
 (0.0015137551423310901, 'EF_Technical Degree'),
 (0.0015050409408786944, 'JR_Research Scientist'),
 (0.0014945867686549446, 'Travel_Non-Travel'),
 (0.001401249970178978, 'JR_Sales Representative'),
 (0.001354469279193211, 'G_Female'),
 (0.0013122995925180046, 'G_Male'),
 (0.0008923544888554179, 'PerformanceRatingEMP'),
 (0.0007534931019582994, 'PerformanceRating'),
 (0.0007413003578683414, 'JR_Human Resources'),
 (0.0007137843408026176, 'EF_Other'),
 (0.0005807011209669179, 'EF_Human Resources'),
 (0.0005344821232446808, 'JR_Manager'),
 (0.00043017219639760097, 'JR_Manufacturing Director'),
 (0.0002893826584452196, 'JR_Healthcare Representative'),
 (0.0002659959476602333, 'Depto_Human Resources'),
 (0.0, 'StandardHoursEMP'),
 (0.0, 'StandardHours'),
 (0.0, 'JR_Research Director'),
 (0.0, 'EmployeeCountEMP'),
 (0.0, 'EmployeeCount')]