In [1]:
# Import modules
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [2]:
# Read csv file and display sample data
employee = pd.read_csv('Employee-Attrition.csv')
employee.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Remove uncecessary columns and code binary ones Yes = 1 | No = 0
employee["Attrition"] = employee["Attrition"].eq('Yes').mul(1)
employee["OverTime"] = employee["OverTime"].eq('Yes').mul(1)
employee["Gender"] = employee["Gender"].eq('Female').mul(1)
# Remove unwanted columns
employee = employee.drop(["Over18","StandardHours"], axis = 1)
employee.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [4]:
# change columns to numbers in order to analyze the data
import numpy as np
# Select those categorical columns to map themo to dummy values
encoder = employee[["BusinessTravel", "Department","EducationField","JobRole","MaritalStatus"]]
dum_employee = pd.get_dummies(encoder, prefix="DUM")
# join with original data
employee = employee.join(dum_employee,lsuffix="EMP")

In [5]:
print(employee.head())
# Remove categorical columns. We already have them with dummy values
employee = employee.drop(["BusinessTravel","Department","EducationField","JobRole","MaritalStatus"], axis = 1)
print(employee.head())
print(employee.columns)

Age  Attrition     BusinessTravel  DailyRate              Department  \
0   41          1      Travel_Rarely       1102                   Sales
1   49          0  Travel_Frequently        279  Research & Development
2   37          1      Travel_Rarely       1373  Research & Development
3   33          0  Travel_Frequently       1392  Research & Development
4   27          0      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  DUM_Laboratory Technician  DUM_Manager  DUM_Manufacturing Director  \
0  ...                          0            0                           0
1  ...                          0            0                           0
2  ...                          1            0                           0
3  ...                          0            0                           0
4  ...                          1            0                           0

   DUM_Research Director  DUM_Research Scientist DUM_Sales Executive  \
0                      0                       0                   1
1                      0                       1                   0
2                      0                       0                   0
3                      0                       1                   0
4                      0                       0                   0

   DUM_Sales Representative DUM_Divorced  DUM_Married  DUM_Single
0                         0            0            0           1
1                         0            0            1           0
2                         0            0            0           1
3                         0            0            1           0
4                         0            0            1           0

[5 rows x 57 columns]
   Age  Attrition  DailyRate  DistanceFromHome  Education  EmployeeCount  \
0   41          1       1102                 1          2              1
1   49          0        279                 8          1              1
2   37          1       1373                 2          2              1
3   33          0       1392                 3          4              1
4   27          0        591                 2          1              1

   EmployeeNumber  EnvironmentSatisfaction  Gender  HourlyRate  ...  \
0               1                        2       1          94  ...
1               2                        3       0          61  ...
2               4                        4       0          92  ...
3               5                        4       1          56  ...
4               7                        1       0          40  ...

   DUM_Laboratory Technician  DUM_Manager  DUM_Manufacturing Director  \
0                          0            0                           0
1                          0            0                           0
2                          1            0                           0
3                          0            0                           0
4                          1            0                           0

   DUM_Research Director  DUM_Research Scientist  DUM_Sales Executive  \
0                      0                       0                    1
1                      0                       1                    0
2                      0                       0                    0
3                      0                       1                    0
4                      0                       0                    0

   DUM_Sales Representative  DUM_Divorced  DUM_Married  DUM_Single
0                         0             0            0           1
1                         0             0            1           0
2                         0             0            0           1
3                         0             0            1           0
4                         0             0            1           0

[5 rows x 52 columns]
Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'DUM_Non-Travel',
       'DUM_Travel_Frequently', 'DUM_Travel_Rarely', 'DUM_Human Resources',
       'DUM_Research & Development', 'DUM_Sales', 'DUM_Human Resources',
       'DUM_Life Sciences', 'DUM_Marketing', 'DUM_Medical', 'DUM_Other',
       'DUM_Technical Degree', 'DUM_Healthcare Representative',
       'DUM_Human Resources', 'DUM_Laboratory Technician', 'DUM_Manager',
       'DUM_Manufacturing Director', 'DUM_Research Director',
       'DUM_Research Scientist', 'DUM_Sales Executive',
       'DUM_Sales Representative', 'DUM_Divorced', 'DUM_Married',
       'DUM_Single'],
      dtype='object')

In [6]:
# Y -> outcome
target = employee["Attrition"]
target_names = ["Yes", "No"]

In [7]:
# x -> variables
# Get all columns except the one we want to predict
data = employee.drop(["Attrition"], axis=1)
feature_names = data.columns
print(feature_names)
data.head()

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'DUM_Non-Travel', 'DUM_Travel_Frequently',
       'DUM_Travel_Rarely', 'DUM_Human Resources',
       'DUM_Research & Development', 'DUM_Sales', 'DUM_Human Resources',
       'DUM_Life Sciences', 'DUM_Marketing', 'DUM_Medical', 'DUM_Other',
       'DUM_Technical Degree', 'DUM_Healthcare Representative',
       'DUM_Human Resources', 'DUM_Laboratory Technician', 'DUM_Manager',
       'DUM_Manufacturing Director', 'DUM_Research Director',
       'DUM_Research Scientist', 'DUM_Sales Executive',
       'DUM_Sales Representative', 'DUM_Divorced', 'DUM_Married',
       'DUM_Single'],
      dtype='object')

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,DUM_Laboratory Technician,DUM_Manager,DUM_Manufacturing Director,DUM_Research Director,DUM_Research Scientist,DUM_Sales Executive,DUM_Sales Representative,DUM_Divorced,DUM_Married,DUM_Single
0,41,1102,1,2,1,1,2,1,94,3,...,0,0,0,0,0,1,0,0,0,1
1,49,279,8,1,1,2,3,0,61,2,...,0,0,0,0,1,0,0,0,1,0
2,37,1373,2,2,1,4,4,0,92,2,...,1,0,0,0,0,0,0,0,0,1
3,33,1392,3,4,1,5,4,1,56,3,...,0,0,0,0,1,0,0,0,1,0
4,27,591,2,1,1,7,1,0,40,3,...,1,0,0,0,0,0,0,0,1,0

In [8]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split
# Split data into train and test
X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=10)

In [9]:
# Create, fit, and score a Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
# Generate forest models from 100 to 1,000 each with 100 increase in estimators
# i.e. model 1 = 100, model 2 = 200, model 3 = 300, etc
for i in range(100,1000,100):
    print("================================")
    rf = RandomForestClassifier(n_estimators=i)
    rf = rf.fit(X_train, y_train)
    # print scores for each model
    print(f"Estimators: {i}")
    print(f"Train score: {rf.score(X_train,y_train)}")
    print(f"Test score: {rf.score(X_test,y_test)}")

================================
Estimators: 100
Train score: 1.0
Test score: 0.8369565217391305
================================
Estimators: 200
Train score: 1.0
Test score: 0.8396739130434783
================================
Estimators: 300
Train score: 1.0
Test score: 0.8369565217391305
================================
Estimators: 400
Train score: 1.0
Test score: 0.8396739130434783
================================
Estimators: 500
Train score: 1.0
Test score: 0.8396739130434783
================================
Estimators: 600
Train score: 1.0
Test score: 0.8396739130434783
================================
Estimators: 700
Train score: 1.0
Test score: 0.842391304347826
================================
Estimators: 800
Train score: 1.0
Test score: 0.8396739130434783
================================
Estimators: 900
Train score: 1.0
Test score: 0.8396739130434783

In [10]:
import math
importances = rf.feature_importances_
# sort features by importance (here, we have results for last model)
sorted (zip((importances),feature_names),reverse = True)

[(0.06965200188469117, 'MonthlyIncome'),
 (0.05329999731227767, 'Age'),
 (0.04966831746674187, 'DailyRate'),
 (0.04840209035813289, 'MonthlyRate'),
 (0.047984561282813414, 'EmployeeNumber'),
 (0.04629964531520821, 'TotalWorkingYears'),
 (0.046094654942969736, 'OverTime'),
 (0.044295570379843434, 'HourlyRate'),
 (0.04177176534275504, 'DistanceFromHome'),
 (0.04073667556602493, 'YearsAtCompany'),
 (0.033839877419508585, 'PercentSalaryHike'),
 (0.030841237844161377, 'NumCompaniesWorked'),
 (0.02944324480836495, 'EnvironmentSatisfaction'),
 (0.028998723641619824, 'JobSatisfaction'),
 (0.027694466023503006, 'StockOptionLevel'),
 (0.02604490544729617, 'YearsWithCurrManager'),
 (0.024388229519318762, 'TrainingTimesLastYear'),
 (0.023842312892466185, 'WorkLifeBalance'),
 (0.02361044211892943, 'YearsInCurrentRole'),
 (0.022583082956415687, 'YearsSinceLastPromotion'),
 (0.022580254903309817, 'JobInvolvement'),
 (0.022407222975106597, 'RelationshipSatisfaction'),
 (0.019663664912290248, 'JobLevel'),
 (0.017614132912521164, 'Education'),
 (0.017086182683689898, 'DUM_Single'),
 (0.013788969588378061, 'DUM_Travel_Frequently'),
 (0.008683745295416594, 'DUM_Laboratory Technician'),
 (0.008218808708728851, 'DUM_Sales'),
 (0.0079464450384897, 'DUM_Married'),
 (0.007880507917726643, 'Gender'),
 (0.007841910231432495, 'DUM_Travel_Rarely'),
 (0.007832447555106472, 'DUM_Research & Development'),
 (0.007717975199992092, 'DUM_Medical'),
 (0.0073709895787413245, 'DUM_Sales Executive'),
 (0.007314911633598363, 'DUM_Marketing'),
 (0.007061672621515556, 'DUM_Life Sciences'),
 (0.006249228710687367, 'DUM_Sales Representative'),
 (0.006232468172311152, 'DUM_Technical Degree'),
 (0.005942591133868247, 'DUM_Research Scientist'),
 (0.0055467856140848345, 'PerformanceRating'),
 (0.005470439820909389, 'DUM_Divorced'),
 (0.003920048071137588, 'DUM_Manufacturing Director'),
 (0.0037335579334320315, 'DUM_Non-Travel'),
 (0.00281932442513359, 'DUM_Healthcare Representative'),
 (0.00253955807705034, 'DUM_Other'),
 (0.0018733107710894041, 'DUM_Human Resources'),
 (0.0015594675378873741, 'DUM_Manager'),
 (0.0014731795303758754, 'DUM_Human Resources'),
 (0.0014207456322993589, 'DUM_Human Resources'),
 (0.0007176502906471781, 'DUM_Research Director'),
 (0.0, 'EmployeeCount')]

In [13]:
# Number 2 try out
features = pd.read_csv('Employee-Attrition.csv')
features.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [14]:
print('The shape of our features is:', features.shape)

The shape of our features is: (1470, 35)

In [16]:
features.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [17]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)
# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,1,2,94,3,2,4,5993,19479,8,11,...,0,0,1,0,0,0,1,1,0,1
1,2,3,61,2,2,2,5130,24907,1,23,...,0,1,0,0,0,1,0,1,1,0
2,4,4,92,2,1,3,2090,2396,6,15,...,0,0,0,0,0,0,1,1,0,1
3,5,4,56,3,1,3,2909,23159,1,11,...,0,1,0,0,0,1,0,1,0,1
4,7,1,40,3,1,2,3468,16632,9,12,...,0,0,0,0,0,1,0,1,1,0

In [20]:
features.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_No',
       'Attrition_Yes', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [21]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['Attrition_Yes'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('Attrition_Yes', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [22]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [23]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (1102, 56)
Training Labels Shape: (1102,)
Testing Features Shape: (368, 56)
Testing Labels Shape: (368,)

In [28]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 500, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [32]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
print(errors)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0.]