In [1]:
# Import modules
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import pickle

In [2]:
# Reading the data
features = pd.read_csv('../Resources/Data/Employee-Attrition.csv')
features.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
print('The shape of our features is:', features.shape)

The shape of our features is: (1470, 35)

In [4]:
features.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [5]:
# Remove uncecessary columns and code binary ones Yes = 1 | No = 0
features["Attrition"] = features["Attrition"].eq('Yes').mul(1)
features["OverTime"] = features["OverTime"].eq('Yes').mul(1)
features["Gender"] = features["Gender"].eq('Female').mul(1)

In [6]:

# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)
# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,...,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y
0,1,1,2,1,94,3,2,4,5993,19479,...,0,0,0,0,1,0,0,0,1,1
1,1,2,3,0,61,2,2,2,5130,24907,...,0,0,0,1,0,0,0,1,0,1
2,1,4,4,0,92,2,1,3,2090,2396,...,0,0,0,0,0,0,0,0,1,1
3,1,5,4,1,56,3,1,3,2909,23159,...,0,0,0,1,0,0,0,1,0,1
4,1,7,1,0,40,3,1,2,3468,16632,...,0,0,0,0,0,0,0,1,0,1

In [7]:
features.columns

Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Non-Travel', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y'],
      dtype='object')

In [8]:
#selecting the columns to use
columns_keep =['Age','Attrition',
 'OverTime',
 'MonthlyIncome',
 'NumCompaniesWorked',
 'DailyRate',
 'DistanceFromHome',
 'HourlyRate',
 'MonthlyRate',
 'PercentSalaryHike',
 'TotalWorkingYears',
 'YearsInCurrentRole',
 'YearsAtCompany',
 'EnvironmentSatisfaction',
 'JobSatisfaction',
 'RelationshipSatisfaction',
 'StockOptionLevel',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'Education', 
 'JobInvolvement',
 'JobLevel',
 'BusinessTravel_Travel_Frequently']

In [9]:
#selecting the columns from the DF
features = features[columns_keep]

In [10]:
features

,Age,Attrition,OverTime,MonthlyIncome,NumCompaniesWorked,DailyRate,DistanceFromHome,HourlyRate,MonthlyRate,PercentSalaryHike,...,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsSinceLastPromotion,YearsWithCurrManager,Education,JobInvolvement,JobLevel,BusinessTravel_Travel_Frequently
0,41,1,1,5993,8,1102,1,94,19479,11,...,1,0,0,1,0,5,2,3,2,0
1,49,0,0,5130,1,279,8,61,24907,23,...,4,1,3,3,1,7,1,2,2,1
2,37,1,1,2090,6,1373,2,92,2396,15,...,2,0,3,3,0,0,2,2,1,0
3,33,0,1,2909,1,1392,3,56,23159,11,...,3,0,3,3,3,0,4,3,1,1
4,27,0,0,3468,9,591,2,40,16632,12,...,4,1,3,3,2,2,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,0,2571,4,884,23,41,12290,17,...,3,1,3,3,0,3,2,4,2,1
1466,39,0,0,9991,4,613,6,42,21457,15,...,1,1,5,3,1,7,1,2,3,0
1467,27,0,1,6142,1,155,4,87,5174,20,...,2,1,0,3,0,3,3,4,2,0
1468,49,0,0,5390,2,1023,2,63,13243,14,...,4,0,3,2,0,8,3,2,2,1
1469,34,0,0,4404,2,628,8,82,10228,12,...,1,0,3,4,1,2,3,4,2,0

In [11]:
features

,Age,Attrition,OverTime,MonthlyIncome,NumCompaniesWorked,DailyRate,DistanceFromHome,HourlyRate,MonthlyRate,PercentSalaryHike,...,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsSinceLastPromotion,YearsWithCurrManager,Education,JobInvolvement,JobLevel,BusinessTravel_Travel_Frequently
0,41,1,1,5993,8,1102,1,94,19479,11,...,1,0,0,1,0,5,2,3,2,0
1,49,0,0,5130,1,279,8,61,24907,23,...,4,1,3,3,1,7,1,2,2,1
2,37,1,1,2090,6,1373,2,92,2396,15,...,2,0,3,3,0,0,2,2,1,0
3,33,0,1,2909,1,1392,3,56,23159,11,...,3,0,3,3,3,0,4,3,1,1
4,27,0,0,3468,9,591,2,40,16632,12,...,4,1,3,3,2,2,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,0,2571,4,884,23,41,12290,17,...,3,1,3,3,0,3,2,4,2,1
1466,39,0,0,9991,4,613,6,42,21457,15,...,1,1,5,3,1,7,1,2,3,0
1467,27,0,1,6142,1,155,4,87,5174,20,...,2,1,0,3,0,3,3,4,2,0
1468,49,0,0,5390,2,1023,2,63,13243,14,...,4,0,3,2,0,8,3,2,2,1
1469,34,0,0,4404,2,628,8,82,10228,12,...,1,0,3,4,1,2,3,4,2,0

In [12]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['Attrition'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('Attrition', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [13]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.80, random_state = 42)

In [14]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (294, 24)
Training Labels Shape: (294,)
Testing Features Shape: (1176, 24)
Testing Labels Shape: (1176,)

In [15]:

# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 500, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [16]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2))

Mean Absolute Error: 0.24

In [17]:
# Get numerical feature importances
importances = list(rf.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Age                  Importance: 0.12
Variable: OverTime             Importance: 0.1
Variable: MonthlyIncome        Importance: 0.07
Variable: NumCompaniesWorked   Importance: 0.07
Variable: DailyRate            Importance: 0.06
Variable: DistanceFromHome     Importance: 0.06
Variable: MonthlyRate          Importance: 0.06
Variable: HourlyRate           Importance: 0.05
Variable: TotalWorkingYears    Importance: 0.05
Variable: PercentSalaryHike    Importance: 0.04
Variable: YearsInCurrentRole   Importance: 0.03
Variable: YearsAtCompany       Importance: 0.03
Variable: EnvironmentSatisfaction Importance: 0.03
Variable: StockOptionLevel     Importance: 0.03
Variable: TrainingTimesLastYear Importance: 0.03
Variable: JobSatisfaction      Importance: 0.02
Variable: RelationshipSatisfaction Importance: 0.02
Variable: WorkLifeBalance      Importance: 0.02
Variable: YearsSinceLastPromotion Importance: 0.02
Variable: YearsWithCurrManager Importance: 0.02
Variable: Education            Importance: 0.02
Variable: JobInvolvement       Importance: 0.02
Variable: BusinessTravel_Travel_Frequently Importance: 0.02
Variable: JobLevel             Importance: 0.01

In [18]:
fi_df = pd.DataFrame(feature_importances[:32], columns = ['Feature','Feature Importance'])

In [19]:
fi_df

                             Feature  Feature Importance
0                                Age                0.12
1                           OverTime                0.10
2                      MonthlyIncome                0.07
3                 NumCompaniesWorked                0.07
4                          DailyRate                0.06
5                   DistanceFromHome                0.06
6                        MonthlyRate                0.06
7                         HourlyRate                0.05
8                  TotalWorkingYears                0.05
9                  PercentSalaryHike                0.04
10                YearsInCurrentRole                0.03
11                    YearsAtCompany                0.03
12           EnvironmentSatisfaction                0.03
13                  StockOptionLevel                0.03
14             TrainingTimesLastYear                0.03
15                   JobSatisfaction                0.02
16          RelationshipSatisfaction                0.02
17                   WorkLifeBalance                0.02
18           YearsSinceLastPromotion                0.02
19              YearsWithCurrManager                0.02
20                         Education                0.02
21                    JobInvolvement                0.02
22  BusinessTravel_Travel_Frequently                0.02
23                          JobLevel                0.01

In [20]:
columns_keep = fi_df["Feature"].to_list()

In [21]:
columns_keep

['Age',
 'OverTime',
 'MonthlyIncome',
 'NumCompaniesWorked',
 'DailyRate',
 'DistanceFromHome',
 'MonthlyRate',
 'HourlyRate',
 'TotalWorkingYears',
 'PercentSalaryHike',
 'YearsInCurrentRole',
 'YearsAtCompany',
 'EnvironmentSatisfaction',
 'StockOptionLevel',
 'TrainingTimesLastYear',
 'JobSatisfaction',
 'RelationshipSatisfaction',
 'WorkLifeBalance',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'Education',
 'JobInvolvement',
 'BusinessTravel_Travel_Frequently',
 'JobLevel']